MUST HAVE
[x] duck can move
[x] duck can shoot
[x] duck can get damage
[x] duck can die
[] enemies can spawn
[x] enemies can get damage
[x] enemies move towards the player
[x] enemies can die
[x] circular space where the duck can move around, but not leave. Enemies spawn outside
[] replay button/system
[] score system (time alive)
[] sfx:
	[] laser
	[] duck hit
	[] enemy hit
[] music:
	[] background music

NICE TO HAVE
[] duck animations:
	[] hit
[] game feel:
	[] screen shakes
	[] particles for laser hits
	[] despawning animaions
	
OPTIONAL
[] power ups:
	[] strawberry milk (more hp)
	[] green tea (better fire rate)
[] more enemies:
	[] ?
