MUST HAVE
	[x] duck can move
	[x] duck can shoot
	[x] duck can get damage
	[x] duck can die
	[x] enemies can spawn
	[x] enemies can get damage
	[x] enemies move towards the player
	[x] enemies can die
	[x] circular space where the duck can move around, but not leave. Enemies spawn outside
	[x] replay button/system
	[x] score system (time alive)
	[x] input information ("tutorial")
	[x] sfx:
		[x] laser
		[x] duck hit
		[x] enemy hit
	[x] music:
		[x] background music

NICE TO HAVE
	[x] duck animations:
		[x] hit
	[x] PUT PORTLAND IN MUSIC CREDITS
	[] game feel:
		[x] particles for laser shots
		[] particles for laser hits
		[] despawning animaions
	[x] power ups:
			[x] strawberry milk (more hp)
			[x] vanilla chai (better fire rate)
			[x] Pho (shield that grants immunity and damages enemies at contact)
	[x] more enemies:
		[x] UFO: goes to a random position outside the ellipse, charges a laser beam and shoots 
			the player.

OPTIONAL
	[] ufo zig-zags on its way to target position
	[] ufo points towards the movement direction
	[] high score register
	[x] upgrade background
	[] better item times information
